<style>
    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>
{% extends 'layout.html' %}
{% block content %}
    <div class="container">
        {% for event in events %}
            <div class="card border-primary mb-3" style="max-width: 50rem;">
              <div class="card-header bg-primary p-4">
                  <h5 class="card-text">Course: {{ event.class_name }}</h5>
              </div>
              <div class="card-body">
                  <h5 class="card-text">Time: {{ event.start_time }} - {{ event.end_time}}</h5>
                  <h5 class="card-text">Address: {{ event.address }}</h5>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}